:root {
  --foreground: #0f172a;
  --background: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  margin: 0;
  line-height: 1.5;
  border-radius: 0;
}
